<acme-navbar></acme-navbar>
<div class="container-fluid">
    <!--<table ng-table="plot.tableParams" class="table" show-filter="true">-->
        <!--<tr ng-repeat="user in $data">-->

            <!--<td title="'Кадастровий №'" filter="{ cadastrNumber: 'number'}" sortable="'cadastrNumber'">-->
                <!--{{user.cadastrNumber}}-->
            <!--</td>-->

            <!--<td title="'Площа'" filter="{ area: 'number'}" sortable="'area'">-->
                <!--{{user.area}}-->
            <!--</td>-->

            <!--<td title="'Речове право №'" filter="{ propertyLaw: 'text'}" sortable="'propertyLaw'">-->
                <!--{{user.propertyLaw}}-->
            <!--</td>-->

            <!--<td title="'Дата регістрації'" filter="{ dateOfRegistration: 'text'}" sortable="'dateOfRegistration'">-->
                <!--{{user.dateOfRegistration}}-->
            <!--</td>-->

            <!--&lt;!&ndash;<td title="'Age'" filter="{ age: 'number'}" sortable="'age'">&ndash;&gt;-->
                <!--&lt;!&ndash;{{user.age}}&ndash;&gt;-->
            <!--&lt;!&ndash;</td>&ndash;&gt;-->

            <!--<td title="'Підстава'" filter="{ reason: 'text'}" sortable="'reason'">-->
                <!--{{user.reason}}-->
            <!--</td>-->

            <!--<td title="'Характеристики реч. права'" filter="{ age: 'text'}" sortable="'propertyOfPropertyLaw'">-->
                <!--{{user.propertyOfPropertyLaw}}-->
            <!--</td>-->

            <!--<td title="'Субєкт реч. права'" filter="{ personOfPropertyLaw: 'text'}" sortable="'personOfPropertyLaw'">-->
                <!--{{user.personOfPropertyLaw}}-->
            <!--</td>-->

        <!--</tr>-->
    <!--</table>-->
    <p><strong>Сторінка:</strong> {{plot.tableParams.page()}}</p>
    <p><strong>Кількість елементів на сторінці:</strong> {{plot.tableParams.count()}}</p>
    <pre>
        {{plot.tableParams.counts | json }}
    </pre>
    <!--<input type="number" class="form-control" placeholder="Кількість елементів на сторінці:" ng-model="plot.tableParams.count">-->

    <input type="text" class="form-control" placeholder="Пошук" ng-model="search">
    <table ng-table="plot.tableParams" class="table" show-filter="false" >
        <tr ng-repeat="user in $data | filter:search" ng-class="{'active':user.isSelected == true}">

            <!--<td data-title="'Name'"  sortable="'name'">{{user.name}}</td>-->
            <!--<td data-title="'Age'"  sortable="'age'">{{user.age}}</td>-->
            <td width="40" style="text-align: left" >
                <input type="checkbox" ng-model="user.isSelected" />
            </td>


            <td title="'Кадастровий №'" filter="{ cadastrNumber: 'number'}" sortable="'cadastrNumber'" >
            {{user.cadastrNumber}}
            </td>

            <td title="'Площа'" filter="{ area: 'number'}" sortable="'area'">
            {{user.area}}
            </td>

            <td title="'Речове право №'" filter="{ propertyLaw: 'text'}" sortable="'propertyLaw'">
            {{user.propertyLaw}}
            </td>

            <td title="'Дата регістрації'" filter="{ dateOfRegistration: 'text'}" sortable="'dateOfRegistration'">
            {{user.dateOfRegistration}}
            </td>

            <!--<td title="'Age'" filter="{ age: 'number'}" sortable="'age'">-->
            <!--{{user.age}}-->
            <!--</td>-->

            <td title="'Підстава'" filter="{ reason: 'text'}" sortable="'reason'">
            {{user.reason}}
            </td>

            <td title="'Характеристики реч. права'" filter="{ age: 'text'}" sortable="'propertyOfPropertyLaw'">
            {{user.propertyOfPropertyLaw}}
            </td>

            <td title="'Субєкт реч. права'" filter="{ personOfPropertyLaw: 'text'}" sortable="'personOfPropertyLaw'">
            {{user.personOfPropertyLaw}}
            </td>



        </tr>
    </table>
    <button class="btn btn-success center-block" ng-click="plot.showPtals(plot.tableParams.data)">Показати на карті вибране</button>



    <pre>
        {{plot.tableParams.count()| json}}
    </pre>
</div>
